    <div class="container">
      <div class="question-content">
      <% if @parent.errors.any? %>
        <div id="error_explanation">
          <h2>
            入力項目にエラーが見つかりました 
            <%= pluralize(@parent.errors.count, "error") %> 
          </h2>
          <ul>
            <% @parent.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2>
            入力項目にエラーが見つかりました 
            <%= pluralize(@question.errors.count, "error") %> 
          </h2>
          <ul>
            <% @question.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">登録する</a></li>
          <li><a href="#tab2" data-toggle="tab">質問する</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <div class="row">
              <p>お知らせ機能の登録のみ行う。登録をすると定期的な検診日などをお知らせします。</p>
              <%= form_for(@parent) do |f| %>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :mailaddr,'メールアドレス（必須）' %>
                  <%= f.email_field :mailaddr, :class => 'form-control',:placeholder => 'taro@xxxx.mail.com' %>
                </div>
                <div class="form-group apple-no-balloon col-xs-12 col-md-4" title="アップル番号は出生の際に割り当てられる番号です">
                  <%= f.label :apple_no,'アップル番号' %>
                  <%= f.text_field :apple_no, :class => 'form-control',:placeholder => 'アップル番号を入力してください' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :tel_no,'電話番号（000-0000-0000）' %> 
                  <%= f.telephone_field :tel_no, :class => 'form-control', :placeholder => '電話番号を入力してください' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :birthday,'お子様の生年月日（必須）' %>
                  <%= f.date_field :birthday, :class => 'form-control', :placeholder => '年/月/日' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :fetus_week, '在胎週数（必須）' %>
                  <div class="form-inline"> 
                    <%= f.select :fetus_week, @parent.fetus_week_choice, {}, {:class => 'form-control'} %>
                    <%= f.select :fetus_day, @parent.fetus_day_choice, {}, {:class => 'form-control'} %>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :birthweight,'出生体重（単位：ｇ）' %>
                  <div class="input-group">
                     <%= f.text_field :birthweight, :class => 'form-control',:placeholder => '出生体重（単位：ｇ）を入力してください' %>
                    <span class="input-group-addon">g</span>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_input, {:checked => true} %>入力した情報を次回は省略する
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                  <button type="submit" class="btn btn-primary">登録情報を送信</button>
                </div>
                <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="tab2">
            <div class="row">
              <p>
              極低出生体重児のお子さんに関する悩みをご相談していただけるメールフォームです。
              日常の業務の間での作業となりますので、頂いたお悩みやご質問に全てお答えすることは出来ないかもしれませんし、急性期等の疾病に対してのお答えはできませんのでご了承下さい。
              事前によくある質問やコミュニティー掲示板もご参考いただけると幸いです。
              </p>
               <%= form_for(@question) do |f| %>
                <div class="form-group col-xs-12">
                  <%= f.label :question_txt,'質問（必須）' %>
                  <%= f.text_area :question_txt, :class => 'form-control', :rows => '5', :placeholder => '質問を入力してください' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :mailaddr,'メールアドレス（必須）' %>
                  <%= f.email_field :mailaddr, :class => 'form-control',:placeholder => 'taro@xxxx.mail.com' %>
                </div>
                <div class="form-group apple-no-balloon col-xs-12 col-md-4" title="アップル番号は出生の際に割り当てられる番号です">
                  <%= f.label :apple_no,'アップル番号' %>
                  <%= f.text_field :apple_no, :class => 'form-control',:placeholder => 'アップル番号を入力してください' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :tel_no,'電話番号（000-0000-0000）' %> 
                  <%= f.telephone_field :tel_no, :class => 'form-control', :placeholder => '電話番号を入力してください' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :birthday,'お子様の生年月日（必須）' %>
                  <%= f.date_field :birthday, :class => 'form-control', :placeholder => '年/月/日' %>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :fetus_week, '在胎週数（必須）' %>
                  <div class="form-inline"> 
                    <%= f.select :fetus_week, @parent.fetus_week_choice, {}, {:class => 'form-control'} %>
                    <%= f.select :fetus_day, @parent.fetus_day_choice, {}, {:class => 'form-control'} %>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                  <%= f.label :birthweight,'出生体重（単位：ｇ）' %>
                  <div class="input-group">
                     <%= f.text_field :birthweight, :class => 'form-control',:placeholder => '出生体重（単位：ｇ）を入力してください' %>
                    <span class="input-group-addon">g</span>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :remember_input, {:checked => true} %>入力した情報を次回は省略する
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :register_reminder, {:checked => true} %>お知らせメールの登録も同時に行います
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                  <button type="submit" class="btn btn-primary">質問を送信</button>
                </div>
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
