<h1>健診のお知らせメールテンプレート編集</h1>

<table>
  <thead>
    <tr>
      <th>健診タイプ</th>
      <th>通知時期</th>
      <th>件名</th>
<!--      <th>本文</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notice_configs.each do |notice_config| %>
      <tr>
        <td><%= notice_config.medical_type %></td>
        <td><%= notice_config.notice_config %></td>
        <td><%= notice_config.mail_subject %></td>
        <td><%= link_to '確認', notice_config %></td>
        <td><%= link_to '編集', edit_notice_config_path(notice_config) %></td>
        <td><%= link_to '削除', notice_config, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_notice_config_path %>
